# IDEs #
.idea
*.iml
.settings
.externalToolBuilders
.classpath
.project
.metadata

# Generated #
obj
target
build
bin
javadoc
site
dependency-reduced-pom.xml
maven-eclipse.xml
*.class
git.properties

# Files #
*.bat
